<form>
    <div class="form-control">
        <label for="text">Tareas</label>
        <input type="text" name="text" id="text" placeholder="Agregar tarea:"/>
    </div>
    <div class="form-control">
        <label for="day">Dia y Hora</label>
        <input type="text" name="day" id="day" placeholder="Dia y Hora"/>
    </div>
    <div class="form-control form-control-check">
        <label for="reminder">Recordar</label>
        <input type="checkbox" name="reminder" id="reminder" placeholder="Recordar"/>
    </div>
    


</form>